body {
    font-family: 'Arial', sans-serif;
    background-color: #e9e3b2;  
    color: #e7d398;         
}

.container {
    background-color: #d5c497; 
    padding: 20px;
    border-radius: 10px;
}

.socials a {
    margin-right: 10px;
    color: #f5f5f5;  
}

.socials a:hover {
    text-decoration: none;
    color: #ddd;
}

